In [1]:
import numpy as nmp
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1=pd.read_csv('Bengaluru_House_Data.csv')
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df1.shape

(13320, 9)

In [4]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [5]:
#Need to drop irrelevant columns
df2=df1.drop(['area_type','availability','society','balcony'],axis='columns')
df2

                       location       size   total_sqft  bath   price
0      Electronic City Phase II      2 BHK         1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom         2600   5.0  120.00
2                   Uttarahalli      3 BHK         1440   2.0   62.00
3            Lingadheeranahalli      3 BHK         1521   3.0   95.00
4                      Kothanur      2 BHK         1200   2.0   51.00
5                    Whitefield      2 BHK         1170   2.0   38.00
6              Old Airport Road      4 BHK         2732   4.0  204.00
7                  Rajaji Nagar      4 BHK         3300   4.0  600.00
8                  Marathahalli      3 BHK         1310   3.0   63.25
9                  Gandhi Bazar  6 Bedroom         1020   6.0  370.00
10                   Whitefield      3 BHK         1800   2.0   70.00
11                   Whitefield  4 Bedroom         2785   5.0  295.00
12           7th Phase JP Nagar      2 BHK         1000   2.0   38.00
13                    Gottigere      2 BHK         1100   2.0   40.00
14                     Sarjapur  3 Bedroom         2250   3.0  148.00
15                  Mysore Road      2 BHK         1175   2.0   73.50
16                Bisuvanahalli      3 BHK         1180   3.0   48.00
17        Raja Rajeshwari Nagar      3 BHK         1540   3.0   60.00
18        Ramakrishnappa Layout      3 BHK         2770   4.0  290.00
19           Manayata Tech Park      2 BHK         1100   2.0   48.00
20                      Kengeri      1 BHK          600   1.0   15.00
21                   Binny Pete      3 BHK         1755   3.0  122.00
22                  Thanisandra  4 Bedroom         2800   5.0  380.00
23                    Bellandur      3 BHK         1767   3.0  103.00
24                  Thanisandra       1 RK          510   1.0   25.25
25              Mangammanapalya      3 BHK         1250   3.0   56.00
26              Electronic City      2 BHK          660   1.0   23.10
27                   Whitefield      3 BHK         1610   3.0   81.00
28             Ramagondanahalli      2 BHK         1151   2.0   48.77
29              Electronic City      3 BHK         1025   2.0   47.00
...                         ...        ...          ...   ...     ...
13290            Sarjapur  Road      4 BHK         4050   2.0  450.00
13291            Weavers Colony  1 Bedroom          812   1.0   26.00
13292          Udayapur Village      3 BHK         1440   2.0   63.93
13293            Sarjapur  Road      4 BHK         2425   5.0  195.00
13294             Sultan Palaya      4 BHK         2200   3.0   80.00
13295              Haralur Road      3 BHK         1810   3.0  112.00
13296                  Cox Town      2 BHK         1200   2.0  140.00
13297           Electronic City      2 BHK         1060   2.0   52.00
13298             Kenchenahalli      2 BHK         1015   2.0   60.00
13299                Whitefield      4 BHK  2830 - 2882   5.0  154.50
13300             Hosakerehalli  5 Bedroom         1500   6.0  145.00
13301                  Kothanur      3 BHK         1454   3.0   71.50
13302      Annaiah Reddy Layout      2 BHK         1075   2.0   48.00
13303            Vidyaranyapura  5 Bedroom          774   5.0   70.00
13304     Raja Rajeshwari Nagar      2 BHK         1187   2.0   40.14
13305                  Hulimavu      1 BHK          500   1.0  220.00
13306     Rajarajeshwari Nagara  4 Bedroom         1200   5.0  325.00
13307              Billekahalli      3 BHK         1805   3.0  134.00
13308         Bannerghatta Road      3 BHK         1527   3.0  142.00
13309              Yeshwanthpur      3 BHK         1675   3.0   92.13
13310              Rachenahalli      2 BHK         1050   2.0   52.71
13311          Ramamurthy Nagar  7 Bedroom         1500   9.0  250.00
13312                 Bellandur      2 BHK         1262   2.0   47.00
13313               Uttarahalli      3 BHK         1345   2.0   57.00
13314         Green Glen Layout      3 BHK         1715   3.0  112.00
13315                Whitefield  5 Bedroom         3453   4.0  231.00
13316             Richards Town      4 BHK         3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK         1141   2.0   60.00
13318           Padmanabhanagar      4 BHK         4689   4.0  488.00
13319              Doddathoguru      1 BHK          550   1.0   17.00

[13320 rows x 5 columns]

In [6]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [7]:
df3=df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [9]:
df3['size'].unique()
#BHK=bedrooms

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [10]:
df3['bhk']=df3['size'].apply(lambda x: int(x.split(' ')[0]))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df3.head(20)

                    location       size total_sqft  bath   price  bhk
0   Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1           Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                Uttarahalli      3 BHK       1440   2.0   62.00    3
3         Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                   Kothanur      2 BHK       1200   2.0   51.00    2
5                 Whitefield      2 BHK       1170   2.0   38.00    2
6           Old Airport Road      4 BHK       2732   4.0  204.00    4
7               Rajaji Nagar      4 BHK       3300   4.0  600.00    4
8               Marathahalli      3 BHK       1310   3.0   63.25    3
9               Gandhi Bazar  6 Bedroom       1020   6.0  370.00    6
10                Whitefield      3 BHK       1800   2.0   70.00    3
11                Whitefield  4 Bedroom       2785   5.0  295.00    4
12        7th Phase JP Nagar      2 BHK       1000   2.0   38.00    2
13                 Gottigere      2 BHK       1100   2.0   40.00    2
14                  Sarjapur  3 Bedroom       2250   3.0  148.00    3
15               Mysore Road      2 BHK       1175   2.0   73.50    2
16             Bisuvanahalli      3 BHK       1180   3.0   48.00    3
17     Raja Rajeshwari Nagar      3 BHK       1540   3.0   60.00    3
18     Ramakrishnappa Layout      3 BHK       2770   4.0  290.00    3
19        Manayata Tech Park      2 BHK       1100   2.0   48.00    2

In [12]:
df3['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [13]:
df3[df3.bhk>10]

                            location        size total_sqft  bath  price  bhk
459                     1 Giri Nagar      11 BHK       5000   9.0  360.0   11
1718       2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
1768              1 Ramamurthy Nagar  11 Bedroom       1200  11.0  170.0   11
3379                  1Hanuman Nagar      19 BHK       2000  16.0  490.0   19
3609   Koramangala Industrial Layout      16 BHK      10000  16.0  550.0   16
3853               1 Annasandrapalya  11 Bedroom       1200   6.0  150.0   11
4684                     Munnekollal  43 Bedroom       2400  40.0  660.0   43
4916                   1Channasandra      14 BHK       1250  15.0  125.0   14
6533                     Mysore Road  12 Bedroom       2232   6.0  300.0   12
7979                   1 Immadihalli      11 BHK       6000  12.0  150.0   11
9935                   1Hoysalanagar      13 BHK       5425  13.0  275.0   13
11559                  1Kasavanhalli  18 Bedroom       1200  18.0  200.0   18

In [14]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [15]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [17]:
df3[~df3['total_sqft'].apply(is_float)].head(20)

                   location       size      total_sqft  bath    price  bhk
30                Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4
122                  Hebbal      4 BHK     3067 - 8156   4.0  477.000    4
137      8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2
165                Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2
188                KR Puram      2 BHK     1015 - 1540   2.0   56.800    2
410                 Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1
549             Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2
648                 Arekere  9 Bedroom       4125Perch   9.0  265.000    9
661               Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2
672            Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4
772   Banashankari Stage VI      2 BHK     1160 - 1195   2.0   59.935    2
775            Basavanagara      1 BHK   1000Sq. Meter   2.0   93.000    1
850       Bannerghatta Road      2 BHK     1115 - 1130   2.0   58.935    2
872       Singapura Village      2 BHK   1100Sq. Yards   2.0   45.000    2
886              Chandapura      1 BHK       520 - 645   1.0   15.135    1
927             Thanisandra      2 BHK     1000 - 1285   2.0   43.415    2
959             Kammasandra      1 BHK       650 - 665   1.0   18.410    1
990                Sarjapur      1 BHK       633 - 666   1.0   17.535    1
1019         Marathi Layout  1 Bedroom       5.31Acres   1.0  110.000    1
1086             Narasapura  2 Bedroom         30Acres   2.0   29.500    2